.header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* z-index: 2; */
  width: 100%;
}

.letters {
  flex: 1;
  display: flex;
  text-transform: uppercase;
}

.letters>div {
  flex: 1;
  font-size: 18vw;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.all-projects{
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-holder {
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 100vh;
}

.project {
  width: 100%;
  display: flex;
  border: solid #000;
  /* height: 31vh; */
  margin-bottom: 2vh;
  border-radius: 43px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #e4e4e4, -6px -6px 12px #fcfcfc;
  /* background-color: yellow; */
}

.project:first-child {
  margin-top: 2vh;
}

.img {
  width: 100%;
  /* height: ; */
  margin-right: 3vw;
  padding: 1em;
}

.img-holder {
  width: 40%;
  /* background-color: red; */
}


.text-desc-holder {
  width: 60%;
}

.text-holder {
  height: 95%;
  width: 100%;
  padding: 1em;
  font-size: bold;
  padding-right: 2em;
  padding-top: 2vh;
  /* background-color: blue; */
}

.desc-holder {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-end; */
}


/* .project {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease; 
} */


@media (max-width: 800px) {
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-holder {
    width: 100%;
  }

  .text-desc-holder{
    width: 100%;
  }
}